.forecast-container {
    margin: 50px 0px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color: #2c3333;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.daily-item {
    background-color: #f5f5f5;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.daily-details-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0;
    row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    flex: 1 1;
    padding: 5px 15px;
}

.daily-details-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.daily-details-grid-item label:first-child {
    color: #444;
}

.daily-details-grid-item label:last-child {
    color: #212121;
}
