.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 / 30%);
    background-color: #2c3333;
    color: #fff;
    margin: 20px auto 0px auto;
    padding: 0px 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    margin: 2px 0 0 0;
    line-height: 1;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: -5px;
    width: auto;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

.parameter-label-title {
    font-weight: 600;
    font-size: 14px;
}

.parameter-value {
    font-weight: 600;
    text-align: right;
    font-size: 12px;
    color: #e7f6f2;
}
